<table class="table table-striped table-condensed">
  <% if artlist.empty? %>
    <h2>No Art objects found</h2>
  <% else %>
    <thead>
      <tr>
        <th></th>
        <th>Owner</th>
        <th>Title</th>
        <th>Work number</th>
        <th>Personal Message</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% artlist.each do |art| %>
      <tr>
        <td><% if !art.yubikey.blank? %><span class="label label-info">Verifiable</span><% end %></td>
        <td><%= art.user ? art.user.full_name : "Available" %></td>
        <td><%= art.book.title %></td>
        <% if art.book.edition_size > 1 %>
          <td><%= art.work_number %> of <%= art.book.edition_size %></td>
        <% else %>
          <td><em>Unique work</em></td>
        <% end %>
        <td><%= art.personal_msg %></td>
        <div class="btn-group">
          <td><%= link_to 'Show', art, :class => "btn" %></td>
          <td><%= link_to 'Edit', edit_artwork_path(art), :class => "btn" %></td>
        </div>
        <td><%= link_to 'Destroy', art, :method => :delete, :data => { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
