<%= simple_form_for(@artwork) do |f| %>
  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@art.errors.count, "error") %> prohibited this art from being saved:</h2>

      <ul>
      <% @art.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :yubi_otp %>
  <%= f.input :work_number %>
  <fieldset class="admin_edit"><legend>Admin use only</legend>
  <%= f.association :user, :label => "Owner", :label_method => :full_name %>
  <%= f.association :book %>
  </fieldset>
  <%= f.button :submit, :class => "btn btn-primary" %>
<% end %>
