<h2>Add a new Artwork limited edition <em>rethink</em></h2>

<%= simple_form_for(@artwork) do |f| %>
  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% @artwork.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :yubi_otp, :hint => "optional" %>

  <h3>Create the limited edition description</h3>
  <div class="book">
    <%= f.simple_fields_for :book do |book| %>
      <%= book.input :title, :required => true %>
      <%= book.input :author, :required => true %>
      <%= book.input :image, :hint => "filename" %>
    <% end %>
  </div>
  <%= f.submit :class => "btn btn-primary" %>
<% end %>

<%= link_to 'Back', artworks_path %>
