<h1>New limited_edition</h1>

<%= form_for(@limited_edition) do |f| %>
  <% if @limited_edition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@limited_edition.errors.count, "error") %> prohibited this limited_edition from being saved:</h2>

      <ul>
      <% @limited_edition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :creator %><br />
    <%= f.text_field :creator %>
  </div>
  <div class="field">
    <%= f.label :yubi_otp %><br />
    <%= f.text_field :yubi_otp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', limited_editions_path %>
