<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @limited_edition.title %>
</p>

<p>
  <b>Creator:</b>
  <%= @limited_edition.creator %>
</p>

<p>
  <b>Yubi key:</b>
  <%= @limited_edition.yubi_key %>
</p>


<%= link_to 'Edit', edit_limited_edition_path(@limited_edition) %> |
<%= link_to 'Back', limited_editions_path %>
