<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Image:</b>
  <%= @book.image %>
</p>

<p>
  <b>Edition notes:</b>
  <%= @book.edition_desc %>
</p>

<% if @book.edition_size > 1 %>
  <p>Edition limited to <b><%= @book.edition_size %></b> copes.</p>
<% else %>
  <p>Original version.</p>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
