<h2>Press your Token</h2>
<p>Insert the Raven token, and press the button.</p>
<%= form_for(@limited_edition, :url => limited_edition_path(@limited_edition), :method => :put) do |f| %>
  <% if @limited_edition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@limited_edition.errors.count, "error") %> prohibited this limited_edition from being saved:</h2>

      <ul>
      <% @limited_edition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Token<br />
    <%= f.text_field :yubi_opt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
